<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Source Code - Input</title>
    <style>
        html {
            background-color: black;
            color: white;
        }
        input {
            margin: auto;
            display: block;
        }
    </style>
</head>

<body>
    <h1>Soorce Code Viewer</h1>
    <form action="{% url 'output' %}" method="POST">
        {% csrf_token %}
        <!-- <label for="wanted_url">URL:</label> -->
        <input type="url" name="wanted_url" id="wanted_url" placeholder="URL" value="{{ wanted_url }}">
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>